<div>
    <mat-card *ngIf="repo">
        <div fxLayout="row">
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="{{repo.owner.avatar_url}}" title="{{repo.name}}" alt="{{repo.owner.avatar_url}}">
                </div>
                <mat-card-title> {{repo.name}} from {{repo.owner.login}}</mat-card-title>
                <mat-card-subtitle>{{repo.description}}</mat-card-subtitle>
                <mat-card-subtitle color="primary">{{repo.language}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <span>Created: {{repo.created_at| date}}</span>
                    <span>Last Updated: {{repo.updated_at |date}}</span>
                </div>
            </mat-card-content>
        </div>
    </mat-card>

    <button mat-flat-button color="primary" type="button" (click)="goBack()">Back</button>
</div>