<div fxLayout="column" fxFlex>
    <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" fxLayout="row" fxLayoutAlign=" center">
        <mat-form-field>
            <mat-label>Search Github</mat-label>
            <input matInput placeholder="Repo Name" ngModel name="search">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">Search</button>
    </form>


    <div *ngIf="repoList " id="repoList" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-card *ngFor="let item of repoList" fxFlex="0 1 calc(25% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%"
            routerLink="/details/{{item.owner.login}}/{{item.name}}">
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="{{item.owner.avatar_url}}" title="{{item.name}}" alt="{{item.owner.avatar_url}}">
                </div>
                <mat-card-title> {{item.name}}</mat-card-title>
                <mat-card-subtitle> {{item.owner.name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>watchers: {{item.watchers_count}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>